:root {
	--color-main: #ffffff;
	--color-hover: #ff0000;
	--color-text: #000000c0;
}

a {
	color: var(--color-text);
	font-family: 'Microsoft Sans Serif', sans-serif;
	text-decoration: underline;
	transition: all.3s ease;
	-ms-transition: all.3s ease;
	-o-transition: all.3s ease;
	-moz-transition: all.3s ease;
	-webkit-transition: all.3s ease;
}

a:hover {
	color: var(--color-hover);
	text-decoration: underline;
	transition: all.3s ease;
	-ms-transition: all.3s ease;
	-o-transition: all.3s ease;
	-moz-transition: all.3s ease;
	-webkit-transition: all.3s ease;
}

p {
	font-family: 'Microsoft Sans Serif', sans-serif;
	color: var(--color-text);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;
	margin: 20px auto;

	@media (max-width: 1024px) {
		min-height: 50px;
	}

	@media (max-width: 768px) {
		min-height: 50px;
	}
}

.head {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.header__text {
	text-align: center;
	font-size: 36pt;

	@media (max-width: 1440px) {
		font-size: 28pt;
	}

	@media (max-width: 1024px) {
		font-size: 24pt;
	}

	@media (max-width: 768px) {
		font-size: 20pt;
	}
}

.bottom-text p {
	color: var(--color-main);
	line-height: 1.5;
}

.bottom-text__link {
	display: inline-block;
	margin-top: 30px;
	text-decoration: underline;
	font-size: 10pt;
}

.pictures img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;

}

.pictures {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	max-width: 1250px;
	margin: 0 auto;
	justify-items: center;

	@media (max-width: 1440px) {
		gap: 15px;
		max-width: 1150px;
	}

	@media (max-width: 1024px) {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
		max-width: 950px;
	}

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
		max-width: 950px;
		margin: auto 10px;
	}
}